@model IEnumerable<WebPageBookCate.Models.Book>

@{
    ViewData["Title"] = "Index";

    string HasImage(Book book)
    {
        if (book.ImageUrl != "" && book.ImageUrl !=null)
        {
            return "fa-solid fa-check";
        }
        else
        {

            return " fa-solid fa-x";
        }
    }
}
@inject LanguageService language
<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-book-blank"></i>@language.Getkey("Create")</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               @language.Getkey(@Html.DisplayNameFor(model => model.Title))
            </th>
            <th>
                @language.Getkey(@Html.DisplayNameFor(model => model.Author))
            </th>
            <th>
                @language.Getkey(@Html.DisplayNameFor(model => model.Description))
            </th>
            <th>
                @language.Getkey(@Html.DisplayNameFor(model => model.DatePublished))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublished)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a> 
             </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success"><i class="fa-solid fa-circle-info"></i></a> 
            </td>
            <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
